aside {
	float: right;
	width: 300px;
	background: #A3C2C2;
}	

section {
  width: 700px;
  margin: 0 auto;
  padding: 0 auto;
  background: white;
  border-radius: 10px;
}

.outerDiv{
	padding: 20px;
}

body {
	background: #CCFFFF;
}

p {
	background: #A3C2C2;
	border-radius: 5px;
	background: white;
	margin-left: auto;
    margin-right: auto;
    width: 35em;
	padding: 10px;
	font-family: Arial, Sans-serif;
}

ul {

	 display: block;
	border-radius: 5px;
	background: white;
	margin-left: auto;
    margin-right: auto;
    width: 35em;
	padding: 10px;
	font-family: Arial, Sans-serif;

}

img {
	padding: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 

}
#pinkCircle {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	height: 180px;
	width:365px;
	background: white;

}
#greenPath{
    display: block;
    margin-left: auto;
    margin-right: auto; 
	height: 250px;
	width:250px;
	background: white;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
	color:#FA6C41;
	padding: 10px;
	font-size: 50px;
	font-style: bold;
	font-family: Arial, Sans-serif;
}

h1 {
	padding: 10px;
	font-size: 20px;
	font-style: bold;
	font-family: Arial, Sans-serif;

}
h2 {
	padding: 10px;
	font-size: 30px;
	font-style: bold;
	font-family: Arial, Sans-serif;

}
  path {
    stroke: purple;
    stroke-width: 3;
    fill: none;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }